body {
	background-color: #333;
	color: #87cefa;
	font-family: 'Pacifico', sans-serif;
	padding: 0 1rem;

	h1 {
		color: #87cefa;
	}

	nav {
		background-color: #222;
		padding: 0.5rem;

		a {
			color: #aaa;
			text-decoration: none;
			margin-right: 1rem;
		}

		a.active {
			color: blue;
		}
	}

	.book {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 20px;
		padding-top: 20px;
		grid-template-columns: 1fr;

		figure {
			border: 3px solid silver;
			padding: 10px;
			width: clamp(250px, 20vw, 300px);
			height: clamp(400px, 10vh, 400px);
			background-image: url(../public/img/weltall.jpg);
		}

		img {
			width: 90%;
			object-fit: cover;
			display: block;
			margin: 0 auto;
		}

		figcaption {
			font-size: 1.5rem;
			padding-bottom: 0.5em;
			line-height: 1.2em;
			text-align: center;
			text-decoration: underline double;
		}
	}
	.meal {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 20px;
		padding-top: 20px;
		grid-template-columns: 1fr;

		.title {
			font-size: 1.5rem;
			padding-bottom: 0.5em;
			line-height: 1.2em;
			text-align: center;
			text-decoration: underline double;
		}

		figure {
			border: 3px solid silver;
			padding: 10px;
			width: clamp(250px, 20vw, 300px);
			height: clamp(450px, 10vh, 400px);
			background-image: url(../public/img/weltall.jpg);
		}

		figcaption {
			font-size: 1.2rem;
			padding-bottom: 0.5em;
			line-height: 1.2em;
		}
	}
	#btn {
		background-color: #222;
		font-family: 'Pacifico', sans-serif;
		font-size: 1.5rem;
		color: #87cefa;
		padding: 0.5rem;
		margin: 0.5rem;

		&:hover {
			background-color: #333;
			color: #87cefa;
		}
	}
}
